[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 300
startCommand = ""
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 5
