[build]
builder = "NIXPACKS"

[deploy]
startCommand = "npm run build && npm run start"
healthcheckPath = "/health"
healthcheckTimeout = 60
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
